*.ini
*.RData
*.Rproj
*.Rhistory
*.zip
*greyMin.png
*NoSuperscript.png
*_cat_Blue*
*_cat_Purple*
*LatLon.png
*legendRight.png
*BAD*.png
*BAD.R
*old*.png
*OLD.R
*OLD.py
*ADM4*
Analysis/OLD_Feb2022_Sep2023
Analysis/ADM3_ACLED/*/*.png
Analysis/ADM3_VIINA/*/*.png
Analysis/ADM3_SAR/*.png
Analysis/CompLog_ADM3/*.png
Analysis/CompQuantile_ADM3/*.png
Analysis/CompQuantile_ADM3/OldNames
Analysis/CompRaw_ADM3/*.png
Analysis/BuildLongDF_25Apr2025.R
Analysis/CategoryMaps_17Mar2025.R
Analysis/CategoryMaps_19May2025.R
Analysis/CompositeMaps_12May2025.R
Analysis/MonthlyCorr_17Jan2025.R
Analysis/MonthlyCorr.R
Analysis/mnth_cor_ADM3.png
Analysis/PointDataMaps_12May2025.R
Analysis/PointDataMaps_29Dec2025.R
Analysis/ReadMonthlyData_9May2025.R
Analysis/ReadMonthlyData_12May2025.R
Analysis/SAR_DataMaps_12May2025.R
Analysis/SAR_DataMaps_19May2025.R
Analysis/SAR_DataMaps_30Dec2025.R
Analysis/MonthlyPlot/PlotEventsAndSAR_log.txt
Analysis/Correlations/ADM3_corrNorm_nonZeroSubset.png
Analysis/MonthCountPlots/(VIINA or ACLED)-SAR_MnthCnts.png
Analysis/MonthCountPlots/(VIINA or ACLED)-SAR_MnthCntsArea.png
Borders/*BAD*
Borders/geoBoundaries-UKR*
Borders/ukr_admbndp_adm0123_sspe_itos_20240416*
Borders/ukr_admbndl_adm0123_sspe_itos_20240416*
Borders/ukr_admbndt_adminUnitLookup*
Borders/*adm4*
Borders/CITATION-AND-USE-geoBoundaries.txt
Borders/FixADM4_Geo.R
GHS_Mask
ACLED_Data/LoadACLED_11May2025.R
ACLED_Data/ExploreACLED_OldDirs.R
ACLED_Data/*.csv
VIINA_Data/LoadVIINA_10Dec2024.R
VIINA_Data/*.csv
SAR_GEE/SAR_DamageTiles
SAR_GEE/SAR_MonthlyPlot_11May2025.R
SAR_GEE/SAR_MonthlyPlot_9May2025.R
SAR_GEE/*.tif
SAR_GEE/ADM3_4_Overlay
SAR_GEE/Monthly_Damage/SAR_Damage_per_monthADM3_NotAdj.png
SAR_GEE/Monthly_Damage/*.csv
SAR_GEE/MergeSAR_DamageTiles.R
SAR_GEE/SAR_PolyAgg.R
SAR_GEE/SAR_PolyAgg.py
SAR_GEE/SAR_PolyAggNoGPU.py
